body{
    background: linear-gradient( #DCE4F9, #B0C2F2);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 275;
    font-style: normal;
}

.contenedor{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.titulos{
    font-weight: blod;
    text-align: center;
}

.imagenGato{
    width: 100px;
    border: 2px solid blue;
    border-radius: 10%;
}

.conetenedorParrafo{
    text-align: justify;
    padding-left: 10px;
}

.divPortafolio p{
    margin-right: 10px;
}

.divPortafolio{
    display: flex;
    align-items: center;
}

.imagenGit{
    width: 10%;
    border: 2px solid black;
    border-radius: 10px;
}